<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.springframework.samples.webflow.news.Article"/>
        <mapping class="org.springframework.samples.webflow.news.comment.Comment"/>
        <mapping class="org.springframework.samples.webflow.user.User"/>
        <mapping class="org.springframework.samples.webflow.user.session.UserSession"/>
        <mapping class="org.springframework.samples.webflow.user.role.Role"/>
    </session-factory>
</hibernate-configuration>