/*
  Created by Dariusz on 2014-06-08
*/
/*
  Created by Dariusz on 2014-06-08.
*/
/*variables:*/
body {
  font-size: 1.2em !important;
  /*DK Scale-up font for a little*/
}
p {
  color: #444444;
  line-height: 1.5em;
}
.ui-datascroller-content,
.ui-widget-content {
  border: 0;
}
.article-focusedEdit-span {
  color: #427f94 !important;
  transition: all 0.3s ease-out;
}
.article-wrapper {
  padding-top: 1em;
  padding-bottom: 1em;
  height: auto;
  background-color: #ffffff;
}
a.article-edit-button {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-out !important;
  fill: #777777;
  float: right;
}
a.article-edit-button > svg {
  width: 32px;
  height: 32px;
}
a.article-edit-button:hover {
  fill: #111;
}
a.article-editAprove-button {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-out !important;
  fill: #777777;
  position: relative;
  top: 0;
  right: 0;
  float: right;
  display: none;
}
a.article-editAprove-button > svg {
  width: 32px;
  height: 32px;
}
a.article-editAprove-button:hover {
  fill: #81c977;
}
.article-contentAndEditor-wrapper {
  position: relative;
  top: 0.5em;
}
.article-content-p {
  position: absolute;
  top: 4px;
}
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-content-p a {
  position: relative;
  display: inline-block;
  margin: 0px 1px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #115770;
  font-weight: 700;
  text-shadow: none;
}
.article-content-p a::before {
  color: #559bb4;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}
.article-content-p a:hover::before,
.article-content-p a:focus::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.ui-editor {
  position: absolute;
  top: -32px;
  visibility: collapse;
}
.article-title:focus {
  outline: none;
  color: #427f94 !important;
  transition: all 0.3s ease-out;
}

