/*
  Created by Dariusz on 2014-06-08
*/
/*
  Created by Dariusz on 2014-06-08.
*/
/*variables:*/
body {
  font-size: 1.2em !important;
  /*DK Scale-up font for a little*/
}
p {
  color: #444;
  line-height: 1.5em;
}
.ui-datascroller-content,
.ui-widget-content {
  border: 0;
}
.article-focusedEdit-span {
  color: #427f94 !important;
  transition: all 0.3s ease-out;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1.5;
}
body,
html {
  width: 100%;
}
body {
  cursor: text;
  width: auto;
  font-size: 21px !important;
  color: #444;
  line-height: 1.5em !important;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: 0 0 0em;
  overflow: hidden;
}
body:focus {
  color: #427f94 !important;
  transition: all 0.3s ease-out;
}

